/* Fonts */

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
    font-family: play;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: inconsolata;
    src: url('../fonts/Incosolata/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: impact;
    src: url('../fonts/impact/impact.ttf');
}


/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: play, serif;
    color: rgb(36, 36, 36);
}

body {
    margin: 0;
    font-size: 16px;
    background-image: linear-gradient(rgba(0, 217, 255, 0.123), rgba(255, 166, 0, 0.2));
    /* background-image: linear-gradient(to right, rgba(0, 217, 255, 0.123), rgba(255, 166, 0, 0.2)); */
}


/* layout */


/* Header */

header {
    background-color: rgb(57, 97, 122);
    /* order: 1; */
}


/* Nav */

.nav-bar li {
    color: rgb(230, 239, 245);
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
}

.divider {
    display: inline-block;
    width: 0;
    height: 1em;
    border-left: 1px solid white;
}

.nav-bar li:hover {
    background-color: rgb(32, 45, 54);
}

.title-container {
    text-align: center;
}

h1,
h3,
ul {
    margin: 0;
}


/********************* Main gallery **********************/

main {
    text-align: center;
}

.main-gallery {
    flex-direction: column;
}

.photo-gallery {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 2px;
    height: 1000px;
    max-width: 300px;
}

.photo-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.photo-gallery img:hover {
    opacity: 0.9;
}

.photo-gallery :nth-child(1) {
    grid-column: 1 / span 6;
    grid-row: 1 / span 4;
    object-fit: cover;
}

.photo-gallery :nth-child(2) {
    grid-column: 4 / span 6;
    grid-row: 4 / span 4;
    object-fit: cover;
}

.photo-gallery :nth-child(3) {
    grid-column: 1 / span 6;
    grid-row: 7 / span 4;
    object-fit: cover;
}

.photo-gallery :nth-child(4) {
    grid-column: 4 / span 6;
    grid-row: 10 / span 4;
    object-fit: cover;
}

.photo-gallery :nth-child(5) {
    grid-column: 1 / span 6;
    grid-row: 13 / span 4;
    object-fit: cover;
}

.photo-gallery :nth-child(6) {
    grid-column: 4 / span 6;
    grid-row: 16 / span 4;
    object-fit: cover;
}

.upload {
    order: -1;
}

.gallery-inputs,
.gallery-pages {
    margin: 20px;
}

button {
    cursor: pointer;
}

.btn-page {
    font-size: 20px;
    background-color: rgb(218, 193, 243);
    border-radius: 10px;
    transition: 0.2s;
}

.btn-page:hover {
    background-color: rgb(191, 147, 235);
}

.keywords-searchbox {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.keywords-searchbox option a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    height: 25px;
}

.keywords-searchbox option:hover:not(.header) {
    background-color: #eee;
}


/************ aside ************/

.aside {
    /* background-color: rgb(255, 238, 142); */
    background: linear-gradient(217deg, rgba(255, 60, 0, 0.8), rgba(255, 72, 0, 0) 70.71%), linear-gradient(127deg, rgba(255, 238, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    /* height: 100px; */
    border-radius: 4px;
}

.showen-keyword1 {
    height: 100px;
}

.keyword {
    font-family: ubuntu;
    font-weight: bold;
    cursor: pointer;
}

.showen-keyword1 {
    font-size: 50px;
}

.showen-keyword2 {
    font-size: 26px;
    align-self: flex-end;
}

.showen-keyword3 {
    font-size: 36px;
    align-self: center;
}

.showen-keyword4 {
    font-size: 22px;
    align-self: flex-start;
}

.showen-keyword5 {
    font-size: 30px;
    align-self: flex-end;
}


/********************* Main editor **********************/

.main-edit {
    display: none;
}

.input-bar {
    max-width: 380px;
    margin: 0 auto;
}

canvas {
    background-color: rgb(65, 65, 65);
    /* border: 2px solid gold; */
    margin: 4px 0 0 0;
}

.delete-line {
    background-color: rgba(221, 221, 221, 0);
    border: 0px solid rgba(255, 255, 255, 0);
}

.delete-line:hover {
    color: rgb(201, 103, 103);
    transform: scale(1.3);
}

.btn-color {
    width: 26px;
    cursor: pointer;
}

.btn-color:hover {
    background-color: rgb(238, 221, 73);
}

.line-text {
    width: 100%;
    height: 36px;
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.input-font {
    cursor: pointer;
    width: 60px;
}

.features {
    width: 100%;
    margin-bottom: 6px;
    margin-top: 6px;
}

.input-font:hover {
    background-color: rgb(238, 221, 73);
}

.btn-align:hover {
    background-color: rgb(238, 221, 73);
}

.select-editable {
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 50px;
    top: 0px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
}

.select-editable select {
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 14px;
    border: none;
    width: 46px;
    margin: 0;
    cursor: pointer;
}

.select-editable input {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 30px;
    padding: 1px;
    font-size: 12px;
    border: none;
}

.select-editable select:focus,
.select-editable input:focus {
    outline: none;
}

.add-line,
.clear-all {
    border-radius: 10px;
    width: 32%;
    align-self: center;
}


/*********************** Footer ************************/

footer {
    background-color: rgba(190, 190, 190, 0.596);
    /* height: 130px; */
    width: 100%;
    text-align: center;
    /* margin: 6px 0px; */
}


/****************** Tablet and Desktop ******************/

@media (min-width: 740px) {
    header {
        background-color: rgb(57, 97, 122);
        /* order: -1; */
    }
    /* Nav */
    .nav-bar li {
        padding: 8px 16px;
    }
    .line-text {
        height: 24px;
        font-size: 16px;
    }
    .nav-bar li:hover {
        background-color: rgb(32, 45, 54);
    }
    .photo-gallery {
        margin: 0 auto;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(33, 1fr);
        height: 750px;
        max-width: 700px;
    }
    .photo-gallery :nth-child(1) {
        grid-column: 1 / span 6;
        grid-row: 1 / span 12;
        object-fit: cover;
    }
    .photo-gallery :nth-child(2) {
        grid-column: 7 / span 6;
        grid-row: 1 / span 12;
        object-fit: cover;
    }
    .photo-gallery :nth-child(3) {
        grid-column: 4 / span 6;
        grid-row: 10 / span 12;
        object-fit: cover;
    }
    .photo-gallery :nth-child(4) {
        grid-column: 10 / span 6;
        grid-row: 10 / span 12;
        object-fit: cover;
    }
    .photo-gallery :nth-child(5) {
        grid-column: 1 / span 6;
        grid-row: 19 / span 12;
        object-fit: cover;
    }
    .photo-gallery :nth-child(6) {
        grid-column: 7 / span 6;
        grid-row: 19 / span 12;
        object-fit: cover;
    }
    .main-gallery {
        flex-direction: row;
    }
    /************ aside ************/
    .aside {
        flex-direction: column;
        width: 200px;
        height: auto;
        margin: 20px;
        align-items: center;
    }
    .keyword {
        padding: 15px;
    }
}

@media (min-width: 1030px) {
    .photo-gallery {
        margin: 0 auto;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(7, 1fr);
        /* grid-template-columns: repeat(3, 1fr); */
        /* grid-template-rows: repeat(2, 1fr); */
        height: 500px;
        max-width: 1000px;
    }
    .photo-gallery :nth-child(1) {
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 61% 100%, 60% 96%, 59% 94%, 60% 90%, 62% 87%, 63% 84%, 62% 82%, 60% 80%, 57% 79%, 53% 78%, 47% 78%, 42% 80%, 41% 83%, 41% 86%, 42% 88%, 43% 90%, 43% 93%, 42% 96%, 41% 98%, 38% 100%, 0% 100%); */
        grid-column: 1 / span 6;
        grid-row: 1 / span 4;
        object-fit: cover;
    }
    .photo-gallery :nth-child(2) {
        /* clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 61% 100%, 60% 96%, 59% 94%, 60% 90%, 62% 87%, 63% 84%, 62% 82%, 60% 80%, 57% 79%, 53% 78%, 47% 78%, 42% 80%, 41% 83%, 41% 86%, 42% 88%, 43% 90%, 43% 93%, 42% 96%, 41% 98%, 38% 100%, 0% 100%, 0% 54%, 4% 54%, 7% 54%, 11% 56%, 14% 58%, 19% 58%, 21% 56%, 22% 52%, 22% 48%, 22% 45%, 20% 42%, 18% 39%, 14% 39%, 11% 41%, 8% 43%, 6% 43%, 3% 42%, 1% 42%, 0% 39%); */
        grid-column: 7 / span 6;
        grid-row: 1 / span 4;
        object-fit: cover;
    }
    .photo-gallery :nth-child(3) {
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 58% 100%, 57% 98%, 57% 95%, 59% 93%, 61% 89%, 63% 87%, 63% 83%, 62% 80%, 58% 77%, 54% 76%, 50% 77%, 46% 78%, 43% 80%, 40% 83%, 39% 87%, 39% 91%, 40% 94%, 41% 96%, 41% 99%, 39% 99%, 36% 100%, 0% 100%, 0% 54%, 4% 54%, 7% 54%, 11% 56%, 14% 58%, 19% 58%, 21% 56%, 22% 52%, 22% 48%, 22% 45%, 20% 42%, 18% 39%, 14% 39%, 11% 41%, 8% 43%, 6% 43%, 3% 42%, 1% 42%, 0% 39%); */
        grid-column: 13 / span 6;
        grid-row: 1 / span 4;
        object-fit: cover;
    }
    .photo-gallery :nth-child(4) {
        /* clip-path: polygon(0% 100%, 0% 20%, 37% 21%, 37% 17%, 36% 14%, 36% 10%, 37% 5%, 39% 2%, 45% 0%, 52% 0%, 56% 2%, 57% 8%, 57% 14%, 55% 19%, 100% 21%, 100% 100%); */
        grid-column: 4 / span 6;
        grid-row: 4 / span 4;
        object-fit: cover;
    }
    .photo-gallery :nth-child(5) {
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 58% 100%, 57% 98%, 57% 95%, 59% 93%, 61% 89%, 63% 87%, 63% 83%, 62% 80%, 58% 77%, 54% 76%, 50% 77%, 46% 78%, 43% 80%, 40% 83%, 39% 87%, 39% 91%, 40% 94%, 41% 96%, 41% 99%, 39% 99%, 36% 100%, 0% 100%, 0% 54%, 4% 54%, 7% 54%, 11% 56%, 14% 58%, 19% 58%, 21% 56%, 22% 52%, 22% 48%, 22% 45%, 20% 42%, 18% 39%, 14% 39%, 11% 41%, 8% 43%, 6% 43%, 3% 42%, 1% 42%, 0% 39%); */
        grid-column: 10 / span 6;
        grid-row: 4 / span 4;
        object-fit: cover;
    }
    .photo-gallery :nth-child(6) {
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 58% 100%, 57% 98%, 57% 95%, 59% 93%, 61% 89%, 63% 87%, 63% 83%, 62% 80%, 58% 77%, 54% 76%, 50% 77%, 46% 78%, 43% 80%, 40% 83%, 39% 87%, 39% 91%, 40% 94%, 41% 96%, 41% 99%, 39% 99%, 36% 100%, 0% 100%, 0% 54%, 4% 54%, 7% 54%, 11% 56%, 14% 58%, 19% 58%, 21% 56%, 22% 52%, 22% 48%, 22% 45%, 20% 42%, 18% 39%, 14% 39%, 11% 41%, 8% 43%, 6% 43%, 3% 42%, 1% 42%, 0% 39%); */
        grid-column: 16 / span 6;
        grid-row: 4 / span 4;
        object-fit: cover;
    }
}


/* Helpers */


/* flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.align-center {
    align-items: center
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.flex-reverse {
    flex-direction: row-reverse;
}


/* Lists */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}